body{
    background: url('../img/wallpaper.jpg');
}

main{
    background-color: rgba(0, 0, 0, 0.565);
    height: 100vh;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.logo{
    width: 10rem;
    margin: 3rem;
}

section{
    background-color: #000000ba;
    margin: 2rem 30rem;
    padding: 3rem;
    border-radius: 0.2rem;
}

.form__titulo{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
    text-align: left;
}

#txtLogin, #txtSenha{
    width: 100%;
    height: 3rem;
    background-color: #333333;
    border: none;
    border-radius: 0.1rem;
    margin-bottom: 0.5rem;
    color: white;
}

.erro{
    color: red;
    font-weight: 400;
    text-align: left;
    font-size: 0.8rem;
}

.form__botao{
    width: 101%;
    padding: 0.6rem;
    border: none;
    height: 3rem;
    color: white;
    background-color: #D80917;
    border-radius: 0.2rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.9rem;
}

#txtLogin::placeholder, #txtSenha::placeholder{
    padding-left: 0.5rem;
}

.form__info{
    display: flex;
    justify-content: space-between;
    color: #929395;
    margin: 0.6rem 0;
    align-items: center;
}

label{
    font-size: 0.9rem;
}

.form__novo{
    color: #929395;
    font-size: 0.9rem;
}

.form__assine{
    color: white;
    font-size: 1rem;
}

a{
    color: #929395;
    text-decoration: none;
    font-size: 0.9rem;
}

a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 2560px) {
    body{
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 1024px){
    section{
        margin: 5px 20px;
    }
}

@media screen and (max-width: 385px){
    .logo{
        width: 8rem;
        margin-bottom: 1rem;
    }

    .form__info{
        align-items: center;
    }

    section{
        padding: 2.5rem;
    }

    label, a{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 320px) {
    section{
        padding: 2rem;
    }

    label, a{
        font-size: 0.7rem;
    }

    #txtLogin, #txtSenha, .form__botao{
        height: 2.5rem;
    }

    .form__titulo{
        font-size: 1.6rem;
    }
}